// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";
@import "../../../VAADIN/addons/vaadin-icons/vaadin-icons.scss";



@font-face {
    font-family: ThemeIcons;
    font-weight: normal;
    font-style: normal;
    src: url(../valo/util/bourbon/css3/../../../../base/fonts/themeicons-webfont.eot);
    src: url(../valo/util/bourbon/css3/../../../../base/fonts/themeicons-webfont.eot?#iefix) format("embedded-opentype"), url(../valo/util/bourbon/css3/../../../../base/fonts/themeicons-webfont.woff) format("woff"), url(../valo/util/bourbon/css3/../../../../base/fonts/themeicons-webfont.ttf) format("truetype"), url(../valo/util/bourbon/css3/../../../../base/fonts/themeicons-webfont.svg#ThemeIcons) format("svg");
}
@font-face {
    font-family: "Open Sans";
    src: url(../valo/fonts/open-sans/OpenSans-Light-webfont.eot);
    src: url(../valo/fonts/open-sans/OpenSans-Light-webfont.eot?#iefix) format("embedded-opentype"), url(../valo/fonts/open-sans/OpenSans-Light-webfont.woff) format("woff"), url(../valo/fonts/open-sans/OpenSans-Light-webfont.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../valo/fonts/open-sans/OpenSans-Regular-webfont.eot);
    src: url(../valo/fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix) format("embedded-opentype"), url(../valo/fonts/open-sans/OpenSans-Regular-webfont.woff) format("woff"), url(../valo/fonts/open-sans/OpenSans-Regular-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../valo/fonts/open-sans/OpenSans-Semibold-webfont.eot);
    src: url(../valo/fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix) format("embedded-opentype"), url(../valo/fonts/open-sans/OpenSans-Semibold-webfont.woff) format("woff"), url(../valo/fonts/open-sans/OpenSans-Semibold-webfont.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    src: url(../valo/util/bourbon/css3/../../../../base/fonts/fontawesome-webfont.eot);
    src: url(../valo/util/bourbon/css3/../../../../base/fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(../valo/util/bourbon/css3/../../../../base/fonts/fontawesome-webfont.woff) format("woff"), url(../valo/util/bourbon/css3/../../../../base/fonts/fontawesome-webfont.ttf) format("truetype"), url(../valo/util/bourbon/css3/../../../../base/fonts/fontawesome-webfont.svg#FontAwesome) format("svg");
}
@mixin customisedvaadintheme {
    @include valo;
    @include vaadin-icons;



    .ThemeIcons {
        font-family: ThemeIcons;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        text-align: center;
    }

    .FontAwesome {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        text-align: center;
    }



    // Insert your own theme rules here

    .frame{
        /*border: 1px solid black;*/
        /*border-radius: 5px;*/
        background-color: whitesmoke;
        /*rgba(0, 0, 0, 0.05);*/
    }
    .lightblueframe {
        border: 2px solid lightgray;
        /*border-radius: 5px;*/
        background-color: whitesmoke;
        /*rgba(25, 125, 225, 0.12);*/
    }

    .headerlogo {
        text-decoration: none !important;;
        color: #474747 !important;
        font-size: 30px;
    }
    .headerlogo font{
        text-decoration: none !important;
        font-size: 15px;
        font-style:italic;
        color:#cd6e1d;
    }
    .v-caption-textfileldborder img{
        max-height:25px !important;
    }
    .minheight275{
        min-height: 275px !important;
    }
    .minwidth435{
        min-width: 435px !important;
    }
    .minimizegalaxypanel{
        background-image: url(img/galaxyLogo.png) !important;
        background-size:contain;
        cursor:pointer;
        width: 30px !important;
        height: 30px !important;
        overflow: hidden !important;
        margin-left:10px !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

    }
    .panelframe.v-window{
        background-color: white;
        box-shadow: 0px 0px 2px 2px;
        opacity: 1;
        -webkit-transition: all 1.5s ease-in-out;
        -moz-transition: all 1.5s ease-in-out;
        -o-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;
        -webkit-transform: rotatey(360deg);
        transform: rotatey(360deg);
    }
    .maxheight250 {
        max-height:250px !important;
    }
    .maxwidth450{
        max-width: 450px !important;
    }
    .galaxyservericon{
        border-radius:5px;
        cursor:pointer;
    }
    .hidetextoverflow{
        overflow:hidden !important;
        text-overflow: ellipsis !important;
    }
    .sidebutton{

        padding:10px;
        background-color: white;
        border-right: 1px solid lightgray;
    }

    .sidebutton img{

        padding: 10px;
        width: auto !important;
        height: auto !important;
        max-width:95%;
        max-height:95%
    }
    .sidebuttonframe:hover{
        background-color: lightgray !important;
        border-color: gray !important;
    }
    .sidebutton .v-icon {
        cursor: pointer;
        margin:-2px !important;
    }
    .hidepanel{}
    .mergewithmainview{
        background-color: #f1f9fe !important;
        border-left: 1px solid lightgray;
        border-right: 1px solid #f1f9fe;
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

    }
    .sidebuttonframe{
        cursor: pointer;
        border: 1px solid lightgray !important;
        background-color:whitesmoke !important;
        border-radius: 5px !important;
    }
    .lastsidebtn{
        border-bottom: 0px !important;
    }
    .mainviewframe{
        background-color: #f1f9fe;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        padding-left:10px;
        padding-top:10px;
        padding-bottom:10px;
    }
    .v-slot-mainviewframe{
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

    }
    .topleftroundedborder{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .toolviewframe{

        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .framedpanel{
        background-color:white;
        border-radius:5px;
        border: 1px solid lightgray;

    }
    .hidepanel{
        width:0px !important;
        height: 0px !important;
        opacity:0 !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .historyframe{
        background-color:#f1f9fe;
    }
    .homestyle{
        border:1px solid lightgray;
        background-color: whitesmoke;
        border-radius:3px;
        background-image: url(img/home-o.png);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        min-width:16px;
        min-height:16px;
        cursor: pointer;

    }
    .homestyle:hover{
        background-color: lightgray;
        border-color: gray;
    }
    .toprightframe{
        padding-bottom: 10px;
        padding-left: 10px;
        background-color: #ffffff;
        border-left: 1px solid lightgray;

    }
    .bottomrightframe{
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .galaxybtnstyle{
        border: 1px solid lightgray;
        background-color: whitesmoke;
        border-radius: 3px;
        background-image: url(img/galaxyLogo.png);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        min-width: 16px;
        min-height: 16px;
        cursor: pointer;

    }
    .galaxybtnstyle:hover{
        background-color: lightgray;
        border-color: gray;
    }

    .maxheight80{
        max-height: 80px !important;
    }
    .historypopuplabel {
        background-color: lightgray !important;
        background-image:url("img/historylabel.png");
        background-repeat:no-repeat;
        background-size:70% auto;
        background-position:30% 10px;
        border: 2px solid gray;
        border-radius: 3px;
        cursor: pointer;
    }

    .historypopuplabel :hover {
        background-color: #4d749f !important;
        background-image:url("img/historylabel.png");
        background-repeat:no-repeat;
        background-size:70% auto;
        background-position:30% 10px;
        overflow: hidden;
    }
    .historylabel  {
        text-decoration: none !important;
        color: white;
        font-weight: bold !important;
        cursor: pointer;
        padding:5px;
        margin-left:-2px;
        max-width:25px !important;
        max-height:91px !important;
        width:auto !important;
        height:auto !important;
        overflow:hidden;
    }
    .v-slot-rightmovablepanel{
        margin-left:-10px !important;
    }
    .rightmovablepanel {
        padding-left:10px;
        padding-bottom:0px;
        border-radius: 5px;
        position: relative !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .hidepanel{
        width:0px !important;
        height: 0px !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .v-slot-fullsize {
        width: 100% !important;
        height: 100% !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .v-slot-slowmove {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .v-slot-standredcombobox{
        min-height: 27px !important;
    }
    .deletablelabel{
        background-color:gray;
        color:white;
        font-size:13px;
        padding-left:10px;        
        overflow:hidden !important;
        text-overflow:ellipsis;
        line-height:20px !important;
        max-height:20px !important;

    }
    .closebtn{
        border: 1px solid white;
        max-width: 16px !important;
        min-height:10px;
        height:auto !important;
        padding: 2px !important;
        margin-right: 5px !important;
        cursor: pointer !important;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 2px;
        background-image: url("img/close.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .deletablelabel div {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
    .deletablelabel a {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        color:white !important;
        text-decoration:none !important;
        cursor:url(img/download.svg), auto;
    }

    .startworkflow{	
        background-image: url("img/plainblackdot.png"),url("img/gray-dott-line.png");
	background-repeat: no-repeat no-repeat, no-repeat no-repeat;
	background-position: center,right;
	background-size: contain,50% auto;
	cursor: pointer;
	border-radius: 5px;
	/*background-color: whitesmoke;*/
        border: 1px solid whitesmoke;;
	border-right-color: lightgray;
    }
    .startworkflow:hover {
        background-color:lightgray;
        border-color: gray;


    }
    .searchguiicon{
       	background-image:url("img/searchgui.ico"), url("img/whitesmokebackground.png"), url("img/gray-dott-line.png"),url("img/gray-dott-line.png");
        background-repeat: no-repeat;
        background-position:center,center, left,right;
        background-size:30% auto,40% auto, 50% auto,50% auto;
        cursor: pointer;
        border-radius: 5px;
        background-color: whitesmoke;
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
    }
    .searchguiicon:hover {
        background-color: lightgray;
        border-color: gray;
        background-image:url("img/searchgui.ico"), url("img/lightgraybackground.png"), url("img/gray-dott-line.png"),url("img/gray-dott-line.png");

    }
    .processicon {
	background-image: url(img/reddot.png), url("img/whitebackground.png"), url("img/gray-dott-line.png"), url("img/gray-dott-line.png");
	background-repeat: no-repeat;
	background-position: center, center, left, right;
	background-size: 30%, 40% auto, 50% auto, 50% auto;
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
        border-radius: 5px;
}
   .activeprocessicon {
	background-image: url(img/spinner.gif), url("img/whitebackground.png"), url("img/black-dotted-line-png-2.png"), url("img/gray-dott-line.png");
	background-repeat: no-repeat;
	background-position: center, center, left, right;
	background-size: auto, 40% auto, 50% auto, 50% auto;
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
        border-radius: 5px;
}
 .doneprocessicon {
	background-image: url(img/greendot.png), url("img/whitebackground.png"), url("img/black-dotted-line-png-2.png"), url("img/black-dotted-line-png-2.png");
	background-repeat: no-repeat;
	background-position: center, center, left, right;
	background-size: 30%, 40% auto, 50% auto, 50% auto;
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
        border-radius: 5px;
}
    .peptideshakericon{
        background-image:url("img/peptideshaker.png"), url("img/whitesmokebackground.png"), url("img/gray-dott-line.png"),url("img/gray-dott-line.png");
        background-repeat: no-repeat;
        background-position:center,center, left,right;
        background-size:30% auto,40% auto, 50% auto,50% auto;
        cursor: pointer;
        border-radius: 5px;
        background-color: whitesmoke;
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
    }
    .peptideshakericon:hover {
        background-color: lightgray;
        border: 1px solid gray;
        background-image:url("img/peptideshaker.png"), url("img/lightgraybackground.png"), url("img/gray-dott-line.png"),url("img/gray-dott-line.png");

    }
    .endworkflow{	
        background-image:url("img/blackdot.png"), url("img/gray-dott-line.png");
        background-repeat: no-repeat no-repeat, no-repeat no-repeat;
	background-position: center,left;
	background-size: contain,50% auto;
	cursor: pointer;
	border-radius: 5px;
        background-color: whitesmoke;
	border: 1px solid whitesmoke;
        border-right-color: lightgray;

    }
    .endworkflow:hover {
        background-color:lightgray;
        border-color: gray;


    }
    .deactivate{
        opacity: 0.2;
    }
    .deactivate:hover{
        opacity: 0.8;
    }
    .apply{
        border:2px solid black;
    }
}
